<launch>

  
<!--###launch SLAM-related nodes. Hector is doing all of the heavy lifting here.###-->
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>




<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 /base_link /laser 100"/>

<!--###launch offboard scripts. These are the things we have written.###-->

<node pkg="offboard" type="talker.py" name="UAV_nav"/>

<node pkg="offboard" type="traj_set.py" name="UAV_path_planner"/>

<node pkg="offboard" type="map_reduction.py" name="UAV_nav_map"/>

<node pkg="offboard" type="grid_sub.py" name="UAV_grid_loc"/>

<!--###start SENTEL's navigation java engine for path planning###-->
<node pkg="offboard" type="start_nav_engine.sh" name="nav_engine"/>

<node pkg="rosbag" type="play" args="/home/pi/Team_Hector_MappingBox_RoboCup_2011_Rescue_Arena.bag --clock" name="testdata"/>

</launch>
