<launch>
	<arg name="fcu_url" default="/dev/ttyAMA0:921600" />
        <arg name="gcs_url" default="udp://:14556@192.168.0.116:14550" />
        <!--arg name="gcs_url" default="" /-->
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        <arg name="log_output" default="screen" />

	<include file="/home/pi/tunnel_ws/src/offboard/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
	</include>

 
<!--node name="setpoint_pub" pkg="inrol_ros" type="pub_setpoints_pos" output="screen"-->
 
<!--/node-->
 
<node pkg="mocap_optitrack"
      type="mocap_node"
      name="mocap_node"
      respawn="false"
      launch-prefix=""
      required="true">
      <rosparam file="$(find mocap_optitrack)/config/mocap.yaml" command="load" />
      <!--remap from="/Test_Quad_1/pose" to="/mavros/mocap/pose"/-->
</node>

<node pkg="offboard" type="pos_set.py" name="mocap_node_custom">
</node>

<node pkg="offboard" type="slam_pose_set.py" name="UAV_pose">
<!--node pkg="offboard" type="pos_set.py" name="UAV_pose"-->
</node>

</launch>
